.application-main #dashboard {
  border: 1px dashed gray !important;
}
.application-main #dashboard > * {
  visibility: hidden !important;
}

ytd-browse[page-subtype="home"] {
  border: 1px dashed gray !important;
}
ytd-browse[page-subtype="home"] > * {
  visibility: hidden !important;
}

#secondary #related {
  border: 1px dashed gray !important;
}
#secondary #related > * {
  visibility: hidden !important;
}
