html[style*="overflow: hidden"] {
  overflow: scroll !important;
}

.application-main #dashboard {
  border: 1px dashed gray !important;
}
.application-main #dashboard > * {
  visibility: hidden !important;
}

aside[aria-label="Explore"] {
  border: 1px dashed gray !important;
}
aside[aria-label="Explore"] > * {
  visibility: hidden !important;
}

ytd-browse[page-subtype="home"] {
  border: 1px dashed gray !important;
}
ytd-browse[page-subtype="home"] > * {
  visibility: hidden !important;
}

#secondary #related {
  border: 1px dashed gray !important;
}
#secondary #related > * {
  visibility: hidden !important;
}

[data-pagelet="ProfileTilesFeed_0"] {
  border: 1px dashed gray !important;
}
[data-pagelet="ProfileTilesFeed_0"] > * {
  visibility: hidden !important;
}

[data-pagelet="ProfileTilesFeed_1"] {
  border: 1px dashed gray !important;
}
[data-pagelet="ProfileTilesFeed_1"] > * {
  visibility: hidden !important;
}

[data-pagelet="ProfileTilesFeed_{n}"] {
  border: 1px dashed gray !important;
}
[data-pagelet="ProfileTilesFeed_{n}"] > * {
  visibility: hidden !important;
}

[role="main"] [data-testid="sidebarColumn"] {
  border: 1px dashed gray !important;
}
[role="main"] [data-testid="sidebarColumn"] > * {
  visibility: hidden !important;
}

#hnmain .itemlist {
  border: 1px dashed gray !important;
}
#hnmain .itemlist > * {
  visibility: hidden !important;
}

#voyager-feed {
  border: 1px dashed gray !important;
}
#voyager-feed > * {
  visibility: hidden !important;
}
