/* github.com, activity feed */
.application-main #dashboard {
  visibility: hidden;
}

/** youtube.com, home video recommendations */
ytd-browse[page-subtype="home"] {
  visibility: hidden;
}

/** youtube.com, related video recommendations */
#secondary #related {
  visibility: hidden;
}
